<div class="container">
  <h1 class="title" align="center">
    About Me
    <div style="margin: .5rem;">
      <%= link_to image_tag("github-8-32.ico"), "https://www.github.com/jboltz88" %>
      <%= link_to image_tag("linkedin-3-32.ico"), "https://www.linkedin.com/in/justin-boltz" %>
      <%= link_to image_tag("twitter-3-32.ico"), "https://www.twitter.com/jboltz88" %>
      <%= link_to image_tag("instagram-32.ico"), "https://www.instagram.com/justin_boltz/" %>
      <%= link_to image_tag("facebook-3-32.ico"), "https://www.facebook.com/justin.boltz" %>
    </div>
  </h1>
  <br>
<div class="container preview">
  <div class="col-md-6" style="color: white;">
    <h4>
      First of all, thanks for visiting this site. It means a lot to me to be able to share the things I've
      been working on with others. A few things about me:
    </h4>
    <h4>
      I've spent the majority of my professional life engineering products for people to enjoy, and my goal
      is to continue to do so in the software industry. The core of my knowledge is based in Ruby on Rails,
      JavaScript, jQuery and AngularJS, but I'm continually seeking to add more to my personal stack. Whether it be tinkering with a Raspberry Pi, building a new app, or learning a new language, I'm a total nerd at heart and love creating things with technology.
    </h4>
    <h4>
      Other interests/hobbies: <br>
      <table>
        <tr>
          <td>family</td>
          <td>(wife and 1 year old son)</td>
        </tr>
        <tr>
          <td>board games</td>
          <td>(Catan, Heroscape, Munchkin)</td>
        </tr>
        <tr>
          <td>books</td>
          <td>(Lord of the Rings, Game of Thrones, Harry Potter)</td>
        </tr>
        <tr>
          <td>video games</td>
          <td>(Dota 2)</td>
        </tr>
        <tr>
          <td>sports</td>
          <td>(wrestling, spikeball, beach volleyball, power lifting)</td>
        </tr>
      </table>
    </h4>
    <h4>
      If you have an opportunity for me to help create something great, please <%= link_to "let me know!", contact_path%></p>
    <h4>
  </div>
  <br>
  <div class="col-md-6" align="center">
    <%= image_tag "familycolor.jpg", :class=>"img-responsive", :style=>"margin-bottom: 1em;" %>
  </div>
</div>
</div>
