<div class="jumbotron">
  <div class="container" align="center">
    <div class="user-image">
    </div>
    <h4>"I could really use a clever quote for my landing page right about now."</h4>
    <h3>Justin Boltz</h3>
    <h5>Aspiring Software Development Extraordinaire</h5>
  </div>
</div>
<div class="container preview">
  <h1 class="title"><%= link_to "My Work", projects_path, :style=>"color: white" %></h1>
  <% @projects.each do |project| %>
    <div class="col-md-4">
      <h2 align="center">
        <%= link_to project.title, project, :class=>'post-link'%>
      </h2>
      <h5 align="center">
        <%= project.description %>
      </h5>
      <div align="center">
        <%= link_to image_tag(project.screenshot.url(:medium), :class=>"img-responsive"), project %>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="container preview">
  <h1 class="title" align="right"><%= link_to "My Thoughts", posts_path, :style=>"color: white" %></h1>
  <% @posts.each do |post| %>
    <div class="col-md-4" align="center">
      <h3 align="left">
        <%= link_to post.title, post, :class=>'post-link'%>
      </h3>
      <h5 align="left">
        <%= post.date %>
      </h5>
      <h4 align="left">
        <%= truncate(strip_tags(markdown(post.body)), length: 200, separator: ' ') %>
      </h4>
    </div>
  <% end %>
</div>
<br>
