<div class="container" align="center">
  <h1 class="title">Contact Me</h1><br>
  <%= form_for @contact, url: contact_path do |f| %>
    <fieldset>
      <div class="field">
        <%= f.text_field :name, placeholder: "Name", :size => 101 %>
      </div>
      <br>
      <div class="field">
        <%= f.email_field :email, placeholder: "Email", :size => 101 %>
      </div>
      <br>
      <div class="field">
        <%= f.text_area :content, placeholder: "Message", :cols => "100", :rows => "15" %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field">
        <%= f.submit "Send", :class => 'button' %>
      </div>
    </fieldset>
  <% end %>
</div>
